<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>totem cral</title>
	<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
</head>

<body style="height: 1920px; width: 1080px; margin: 0;" class="d-flex flex-column justify-content-between p-3">
	<div style="height: 100%;" class="d-flex flex-column">
		<div th:replace="~{fragments/header :: header}"></div>
		<div th:if="${#lists.isEmpty(nodes)}" class="d-flex align-items-start">
			<p>Non sono ancora presenti articoli</p>
		</div>
		<div class="d-flex align-content-center justify-content-center" style="height: 100%;">
			<div th:unless="${#lists.isEmpty(nodes)}"
				class="d-flex align-content-around justify-content-around flex-wrap" style="gap: 8rem;">
				<div th:each="node: ${nodes}">
					<div th:replace="~{fragments/nodeCardTemplate :: nodeCard(title=${node.name}, link=${node.link})}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block
		th:insert="${#lists.isEmpty(nodes)} ? ~{fragments/footer :: nodeNavigationButtons(prev=null, next=null)} : _">
	</th:block>

	<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"></script>
</body>

</html>